* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primarycolor: rgb(8, 50, 72);
  --lightcolor: rgb(170, 221, 235);
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--primarycolor);
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  margin: 0 0 4rem 0;
}

h2 {
  text-align: left;
  padding: 0 0 0 1rem;
}

header {
  width: 100%;
  max-width: 800px;
  border: 1px solid var(--primarycolor);
  text-align: center;
  padding: 1rem;
}

footer {
  width: 100%;
  max-width: 800px;
  background: white;
  border: 1px solid var(--primarycolor);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
  padding: 0.8rem;
  font-size: small;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
