/* BEM - Block, Element, Modifier */
@import "./global.css";
@import "./stylecomponents/card.css";
@import "./stylecomponents/card.css";

ul {
  list-style-type: none;
  display: flex;
  font-size: small;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 0.1rem;
  padding: 0px;
}

button {
  border: none;
  background: white;
}

.button__profile {
  border: 1px solid rgb(8, 50, 72);
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

.card__list__items {
  border: 1px solid rgb(8, 50, 72);
  margin: 1px;
  padding: 1px;
  background: rgba(0, 140, 255, 0.223);
}

.card__profile {
  border-radius: 5px;
  padding: 5rem;
}
