* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(8, 50, 72);
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    max-width: 600px;
    border: 1px solid rgb(8, 50, 72);
    text-align: center;
  }