button {
  border: none;
  background: white;
}

/* .button:hover {
  background-color: rgb(92, 159, 247);
} */

.button-card {
  height: 2rem;
  border: 2px solid var(--primarycolor);
  margin: 1rem;
}
