.card {
  max-width: 800px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--primarycolor);
  margin: 1rem;
  padding: 1.2rem;
}

.card .card__bookmark {
  display: block;
  position: absolute;
  top: -15px;
  right: 20px;
  height: 2rem;
  padding: 0px;
}

.card .card__bookmark--filled {
  display: block;
  position: absolute;
  top: -15px;
  right: 20px;
  height: 2rem;
  padding: 0px;
}

.invisible {
  display: none;
}

.card__answer {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.card.dark {
  background-color: var(--primarycolor);
  color: var(--darkmode-lightcolor);
  border: 1px solid var(--darkmode-lightcolor);
}

.card-new {
  margin: -3rem 1rem 5rem 1rem;
}
