.card__profile {
  border: 0;
  padding: 1rem;
  margin: 0;
}

.profile-text {
  font-size: small;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.light .stats__counter {
  border: 1px solid var(--primarycolor);
  border-radius: 5px;
  padding: 0.5rem;
}

.dark .stats__counter {
  border: 1px solid var(--darkmode-lightcolor);
}
